services:
  web:
    build: .
    ports: 
      - "5002:5000"
    environment:
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_COUNTER: "visits"
    depends_on:
      - redis 

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    
volumes:
  redis_data: